body{
	margin: 0;
	padding: 0;
	background-color: #233;
}
.main{
	width: 892px;
	height: 1386px;
	background-color: #fff;
	margin: 0 auto;
	padding: 0 44px;
}
header{
	position: relative;
	top: 0;
	width: 892px;
	font-size: 12px;
	font-family: "黑体";
}
header .redspan{
	width: 110px;
	height: 61px;
	background-color: red;
}

header .redspan p{	
	color: #fff;
	margin:0;
	position: absolute;
	bottom: 5px;
}
header .date{
	color: #d45d5c;
	position: absolute;
	bottom: 5px;
	right: 0;
}
header .line{
	width: 892px;
	height: 2px;
	background-color: #938e8c;
	position: absolute;
	top: 61px;
}
.area1{
	position: relative;
	margin-top: 35px;
	height: 301px;
}
.mask{	
	position: absolute;
	top: 0;
	width: 191px;
	height: 301px;
	z-index: 999;
	opacity: 0.65;
}
.green{
	background-color: rgba(66,140,89,0.65);	
	left: 0;
}
.area1 .red{
	background-color: rgba(204,118,128,0.65);
	left: 450px;
}
.text{
	width: 203px;
	height: 301px;
	position: absolute;
	right: 0;
	top: 0;
}
.text p{
	margin: 0;
	font-family: "微软雅黑";
}
.text .line{
	width: 203px;
	height: 2px;
	background-color: #cc8091;
}
.text  .t1 p{
	font-size: 24px;
	color: #000;
	text-decoration: underline;
	line-height: 40px;
}
.text  .t1 p:first-letter{
	font-size: xx-large;
} 
.text  .t2{
	font-size: 12px;
	color: #676767;
	font-family: "楷体";
	line-height: 10px;
	font-style: italic;
}
.text  .t3{
	font-size: 116px;
	color: #75b86b;
	font-style: italic;
	line-height: 1.2;
	text-indent: -15px;
}
.text  .t4,.t5{
	color: #cc8091;
}
.text  .t4{
	font-size: 55px;	
}
.text  .t5{
	font-size: 12px;
	word-break: break-all;
	display: inline-block;
	margin-top: 16px;
}
.text  .t5 span{
	font-size: 21px;
	line-height: 1;
}
.area2{
	width: 641px;
	margin-top: 40px;
	display: flex;
}
.item{
	font-size: 12px;
	line-height: 16px;
	flex:1 1 0;
	justfy-content:between space;
	font-family: "微软雅黑";
	margin-right: 30px;
	position: relative;
}
.item span{
	font-size:16px;	
	font-weight: bold;
	text-decoration: underline;
	color: #cc7680;
}
.what{
	flex:2.5;
}
.what p{
	color: #767777;
	font-family: "宋体";
}
.when{
	flex:2;
}
.when p{
	color: #281816;
	opacity: 0.7;
}

.how p{
	color: #767777;
	opacity: 0.7;
}
.what span{
	color: #418c59;
}
.when span{
	color: #d2994f;
}

.how span{
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	opacity: 0.7;
}
.how p+p{
	position: absolute;
	bottom: 0;
}
.area3{
	margin-top: 40px;
	margin-bottom: 30px;
	height: 623px;
}
.left{
	width: 414px;
	float: left;
	position: relative;
	height: 609.5px;
	overflow: hidden;
}
.left .up p{
	color: #11456b;
	font-family: "黑体";
	font-weight: bold;
	display: inline-block;
	margin: 0;
	font-size: 42px;
	line-height: 1;
}
.left .up span{
	font-family: "黑体";
	font-weight: bold;
	color: #f5e327;
	font-style: italic;
	font-size: 72px;
}
.left .up .ch{
	font-size: 33px;
	margin: 10px 0;
}
.left .up .line{
	width: 415px;
	height: 2px;
	background-color: #11456b;
}
.left .down{
	margin-top: 30px;
	overflow: hidden;	
}
.left .down p{
	margin: 0;
	font-family: "宋体";
	font-size: 12px;
	color: #767777;
	line-height: 16px;
}
.left .down  span{
	font-size:70px;
	color: #f5e327;
	font-family: "微软雅黑";
	float: left;
	line-height: 1;
}
.left .down .p1{
	height: 65px;
	overflow: hidden;
}
.left img{
	float: right;
	margin: 20px 0 0 20px;
}
.right{
	position: relative;
	float: right;
	margin-left: 20px;
	width: 458px;
}
.maskgrey{
	position: absolute;
	top: 196px;
	width: 458px;
	height: 61px;
	z-index: 999;
	opacity: 0.53;
	background-color: #040000;
}
.maskgrey p{
	margin: 0;
	display: inline-block;
	font-family: "微软雅黑";
}
.maskgrey .line{
	width: 3px;
	height: 44px;
	background-color: #72b16a;	
	margin: 8.5px  10px 8.5px 40px;
}
.maskgrey .text_left{
	font-size: 26px;
	color: #fff;
	position: absolute;
	top: 13px;
}
.maskgrey .text_right{
	font-size: 12px;
	color: #72b16a;
	font-style: italic;
	position: absolute;
	left: 165px;
	top: 30px;
}
.catalogue{
	position: relative;
	margin-top: 30px;
	background-color: #EEEDD6;
	width: 458px;
	height: 318px;
}
.catalogue .up{
	color: #5a5b5b;
	font-family: "宋体";
	position: absolute;
	left: 10px;
	right: 20px;
}
.catalogue li{
	padding-top: 20px;
	list-style-image: url("img/triangle.png");
	font-size: 16px;
	text-align: left;
	line-height: 20px;	
}
li span{
	float: right;
	font-style: italic;
	font-size: 12px;
}
.catalogue .down{
	position: relative;
	top: 158px;
	font-family: "黑体";
}
.catalogue .down .red{
	padding: 10px;	
	color: #fff;
	width: 240px;
	height: 140px;
	background-color: #d45d5c;
	position: relative;
	left: 0;
}
.catalogue .down p{
	display: inline-block;
	margin: 0;
}
.catalogue .down .red_t1{
	font-family: "微软雅黑";
	font-size: 110px;
}
.catalogue .down .line{
	display: inline-block;
	background-color: #fff;
	width: 2px;
	height: 86px;
	margin-right: 10px;
}
.catalogue .down .red_t2{
	font-size: 21px;
	line-height: 24px;
	font-style: italic;
	position: absolute;
	top: 37px;
}
.catalogue .down .red_t3{
	font-size: 12px;
	line-height: 12px;
	position: absolute;
	bottom: 37px;
}
.catalogue .down .down_text{
	width: 178px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.catalogue .down_text p{
	font-size: 14px;
	color: #5a5b5b;
	font-style: italic;
	line-height: 16px;
}
.catalogue .down_text  span{
	color: #d45d5c;
	font-size: 72px;
	position: relative;
	bottom: 30px;
	float: right;
}
.catalogue .down_text  p span{
	top: 30px;
	font-style: normal;
	float: none;
}


footer{
	position: relative;
	width: 892px;
	font-size: 12px;
	font-family: "黑体";
	height: 62px;
}
footer .line{
	width: 892px;
	height: 1px;
	background-color: #938e8c;
	position: absolute;
	bottom: 61px;
}
footer .date{
	color: #d45d5c;
	position: absolute;
	top: 1px;
	right: 0;
}